<div class="container-fluid content-container">
    <section id="orange-header-section" class="row">
        <div class="orange-header col-xs-offset-5"><strong>ABOUT OUR CLASSES</strong></div>
    </section>

    <section class="row section-classes-parent">
        <div class="about-image-container col-xs-3">
            <div class="classes-feature-name col-xs-offset-1">H</div>
        </div>
        <div class="col-xs-9">
            <span class="bigtext-title bigtext-color col-xs-2 col-xs-offset-3">HINDUSTANI</span>
            <span class="paragraph col-xs-11 col-xs-offset-0">Hindustani classical music is the North Indian style of Indian classical music.
                The style is sometimes called North Indian classical music or Shastriya Sangit. It is a tradition that has been evolving since the 12th century CE, in North India.
                It is one of the two sub-genres of classical music practiced in India, the other being Carnatic music, the classical tradition of South India.
            </span>
        </div>
    </section>

    <section class="row section-classes-parent-middle">
        <div class="about-image-container col-xs-3">
            <div class="classes-feature-name col-xs-offset-1">K</div>
        </div>
        <div class="col-xs-9">
            <span class="bigtext-title bigtext-color col-xs-2 col-xs-offset-3">KARAOKE</span>
            <span class="paragraph col-xs-11 col-xs-offset-0">Bollywood songs, more formally known as Hindi film songs, or filmi songs are songs featured in Bollywood films.
            Derived in Western film circles for the song-and-dance routine, Bollywood songs, along with dance, are a characteristic motif of Hindi cinema which gives it enduring popular appeal,
            cultural value and context. Hindi film songs form a predominant component of Indian pop music, and derives its inspiration from both classical and modern sources.
            Hindi film songs are now firmly embedded in North India's popular culture and routinely encountered in North India in marketplaces, shops, during bus and train journeys and
            numerous other situations. Though Hindi films routinely contain many songs and some dance routines, they are not musicals in the Western theatrical sense;
            the music-song-dance aspect is an integral feature of the genre akin to plot, dialogue and other parameters.
            </span>
        </div>
    </section>

    <section class="row section-classes-parent">
        <div class="about-image-container col-xs-3">
            <div class="classes-feature-name col-xs-offset-1">H</div>
        </div>
        <div class="col-xs-9">
            <span class="bigtext-title bigtext-color col-xs-2 col-xs-offset-3">HARMONIUM</span>
            <span class="paragraph col-xs-11 col-xs-offset-0">Harmonium with a Swarmandal (a small, harp-like instrument, similar to Zither and Autoharp) was produced by Bhishmadev Vedi.
            As the Swaramandal box was too big for the Harmonium, his disciple Manohar Chimote fixed the strings within the breadth of the instrument naming it as ‘Samvadini’.
            This instrument allows the strings to be played by the hand on the bellows, and keys by the other hand. Chimote provided a new natural ‘Gandhar’ tuning in this Harmonium.
            Although this tuning was limited to the 12 tones versus the 22 required in Hindustani classical music, it surely gave the European tuning of the Harmonium, an Indian flavour.
            </span>
        </div>
    </section>


</div>


