
<div class="modalImage" ng-click="$dismiss()">
    <div class="modal-header">
        <button ng-click="$dismiss()" class="close pull-right" aria-hidden="true">X</button>
        <div class="clearfix"></div>
    </div>
    <div class="modal-body">
        <div class="image-wrapper">
            <a ng-href="">
                <img ng-src={{ImageSrc}}>
            </a>
        </div>
        <div class="text-muted image-description">
           <h1 style="color: black"></h1>
        </div>
    </div>
</div>