<div class="container-fluid content-container">
    <section id="orange-header-section" class="row">
        <h2 class="col-lg-offset-5"><strong></strong></h2>
    </section>

    <section class="row section-about-intro">
        <div class="about-image-container col-lg-4">
            <div class="about-image-intro col-lg-offset-1"></div>
        </div>
        <div class="col-lg-8">
            <h1 class="bigtext-color col-lg-2 col-lg-offset-2">INTRODUCTION</h1>
            <div class="paragraph col-lg-10 col-lg-offset-1" ng-bind-html="aboutCtrl.introduction"></div>
        </div>
    </section>

    <section class="row">
        <div class="about-contact-header col-lg-3 col-lg-offset-5">
            <h1 class="bigtext-color">GET IN TOUCH WITH US</h1>
        </div>
    </section>

    <section class="row">
        <form class="form-horizontal form-horizontal-about col-lg-6">
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <input type="text" class="form-control form-control-about" id="userName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <input type="email" class="form-control form-control-about" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <input type="text" class="form-control form-control-about" id="subject" placeholder="Subject">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <textarea class="col-lg-10 form-control form-control-textarea-about" rows="10" id="message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <button type="submit" class="btn btn-default btn-lg btn-about-send">Send</button>
                </div>
            </div>
        </form>

        <aside class="aside-about col-lg-6">
            <div class="bigtext-aside-header col-lg-12">INFORMATION :-</div>
            <div class="col-lg-12">
                <p class="col-lg-1"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></p>
                <p class="col-lg-10">1101 Iroquois Ave, Apt 1230 <br>   Naperville, IL - 60563</p>
            </div>
            <div class="col-lg-12">
                <p class="col-lg-1"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></p>
                <p class="col-lg-10"><a href="mailto:simplysur@gmail.com" id="mail-anchor">simplysur@gmail.com</a></p>
            </div>
            <div class="col-lg-12">
                <p class="col-lg-1"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></p>
                <p class="col-lg-10">+1 (123) 456 - 9875</p>
            </div>

            <div class="bigtext-aside-header col-lg-12">BUSINESS HOURS :-</div>
            <div class="col-lg-12">
                <p class="col-lg-10">Monday - Friday: 9am to 5pm</p>
                <p class="col-lg-10">Saturday : 9am to 2pm</p>
            </div>
        </aside>
    </section>
</div>