<div class="container-fluid content-container-portfolio">
    <section id="orange-header-section" class="row">
        <div class="orange-header orange-header-portfolio"><strong>TEACHER</strong></div>
    </section>

    <section class="row section-classes-portfolio">
        <div class="about-image-container col-xs-3">
            <div class="classes-feature-name col-xs-offset-1">NT</div>
        </div>
        <div class="col-xs-9">
            <span class="bigtext-title bigtext-color col-xs-3 col-xs-offset-3">Neeta Tyagi</span>
            <span class="paragraph col-xs-11 col-xs-offset-0">
                Neeta Tyagi has recieved training of Hindustani Classical Music from Guru - <b>Shri Roshan Lal</b> and later from <b>Shri Surendra Kathula</b>
                and got trained in Agra gharana. She has extended her training from traditional classical to light classical such as <i>Thumri, Dadra, Gazals, Bhajan </i>etc
                from her elder brother Guru - <b>Shri Shashikant Tyagi</b>.
<br> <br>
Neeta Tyagi, born in Saharanpur a city in Uttar Pradesh,India. She earned her master degree in Instrumentation Engineering from IIT,Roorkee and another Master degree from NIT, Kurukshetra.
Having a background of Computer Engineering,she is a Hindustani Classical Vocalist,vibrant personality and commited to her work.
<br> <br>
She got involve in many social, cultural and community work in New Jersey for many years.
To continue her passion, she is promoting culture and language by organizing the cultural events in tri-state area. At present she is a music teacher in Marlboro Hindi School, Marlboro, NJ.
            </span>
        </div>
    </section>
</div>


