<div class="container-fluid content-container-portfolio">
    <section id="orange-header-section" class="row">
        <div class="orange-header orange-header-portfolio"><strong>INSTRUCTORS</strong></div>
    </section>

    <section class="row section-classes-portfolio">
        <div class="col-xs-12 col-sm-9 col-md-5 col-lg-4 col-sm-offset-3 col-md-offset-0">
            <!--<div class="classes-feature-name col-xs-offset-1">NT</div>-->
            <img src="../resources/img/Neeta_Tyagi.jpg" class="profile-feature-name">
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8">
            <span class="bigtext-title bigtext-color col-xs-12 col-sm-6 col-md-6 col-lg-4
            col-xs-offset-3 col-sm-offset-5 col-md-offset-4 col-lg-offset-3">Neeta Tyagi</span>
            <span class="paragraph col-xs-12 col-md-12 col-lg-12">
                Neeta Tyagi has recieved training of Hindustani Classical Music from Guru - <b>Shri Roshan Lal</b> and later from <b>Shri Surendra Kathula</b>
                and got trained in Agra gharana. She has extended her training from traditional classical to light classical such as <i>Thumri, Dadra, Gazals, Bhajan </i>etc
                from her elder brother Guru - <b>Shri Shashikant Tyagi</b>.
<br> <br>
Neeta Tyagi, born in Saharanpur a city in Uttar Pradesh,India. She earned her master degree in Instrumentation Engineering from IIT,Roorkee and another Master degree from NIT, Kurukshetra.
Having a background of Computer Engineering,she is a Hindustani Classical Vocalist,vibrant personality and commited to her work.
<br> <br>
She got involve in many social, cultural and community work in New Jersey for many years.
To continue her passion, she is promoting culture and language by organizing the cultural events in tri-state area. At present she is a music teacher in Marlboro Hindi School, Marlboro, NJ.
            </span>
        </div>
    </section>
    <section class="row section-classes-portfolio">
        <div class="col-xs-12 col-sm-9 col-md-5 col-lg-4 col-sm-offset-3 col-md-offset-0">
            <!--<div class="classes-feature-name col-xs-offset-1">ST</div>-->
            <img src="../resources/img/Shashikant_Tyagi.jpg" class="profile-feature-name">
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8">
            <span class="bigtext-title bigtext-color col-xs-12 col-sm-6 col-md-6 col-lg-5
            col-xs-offset-2 col-sm-offset-4 col-md-offset-3 col-lg-offset-3">Shashikant Tyagi</span>
            <span class="paragraph col-xs-12 col-md-12 col-lg-12">
                Shri Shashi Kant Tyagi is a graduate in music from <b>Prayag Samiti Allahabad</b>.
                He has been in the field of music for more than 14 years. He has won many competitions and also has judged many events.
                He also organizes Sai Sandhya in Saharanpur. Bookings for event performances are also done.
                <b>SimplySur</b> is another school of music and is a chain of <b>Sangeetalya</b> in New Jersey, USA.

                <br> <br>

                <b> Sangeetalya </b> is a hindustani classical music school located at Saharanpur, UP. Its been in place since 2004.
                We teach:
                <i> Hindustani Classical Vocal, Gazal, Bhajan, Karaoke, Sufi music </i>.
                We prepare students for all kinds of singing competitions
                People from all age groups are welcome.

                <br> <br>
                <a href="https://www.facebook.com/SurSangeetalya/" target="_blank"> <b> Visit Shashikant Tyagi's facebook page </b></a>
            </span>
        </div>
    </section>
</div>


