<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimplySur</title>
    <link href="../resources/img/simplysur_logo_2.ico" rel="shortcut icon" type="image/x-icon"
          th:href="@{/webapp/SimplySurFrontEnd/src/resources/img/simplysur_logo_2.ico}"/>
    <link href="styles/simply-sur.css" rel="stylesheet"
          th:href="@{/webapp/SimplySurFrontEnd/src/app/styles/simply-sur.css}"/>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="../../bower_components/components-font-awesome/css/font-awesome.min.css"
          th:href="@{/webjars/components-font-awesome/4.7.0/css/font-awesome.min.css}"/>
</head>
<body ng-app="ui.simply.sur">

<nav class="navbar navbar-default header" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img src="../resources/img/SimplySur_Logos-1.png" class="logo-icon">
        <span class="logo">SimplySur</span>
    </div>

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

        <ul class="nav navbar-nav navbar-right">
            <li class="menu-content">
                <a href="#" ui-sref="home" ui-sref-active="active" ng-click="navCollapsed=true">Home</a>
            </li>
            <li class="menu-seperator hidden-xs">
                <a href="#">/</a>
            </li>
            <li class="menu-content">
                <a href="#" ui-sref="portfolio" ui-sref-active="active" ng-click="navCollapsed=true">Portfolio</a>
            </li>
            <li class="menu-seperator hidden-xs">
                <a href="#">/</a>
            </li>
            <li class="menu-content">
                <a href="#" ui-sref="classes" ui-sref-active="active" ng-click="navCollapsed=true">Classes</a>
            </li>
            <li class="menu-seperator hidden-xs">
                <a href="#">/</a>
            </li>
            <li class="menu-content">
                <a href="#" ui-sref="gallery" ui-sref-active="active" ng-click="navCollapsed=true">Gallery</a>
            </li>
            <li class="menu-seperator hidden-xs">
                <a href="#">/</a>
            </li>
            <li class="menu-content">
                <a href="#" ui-sref="events" ui-sref-active="selected" ng-click="navCollapsed=true">Events</a>
            </li>
            <li class="menu-seperator hidden-xs">
                <a href="#">/</a>
            </li>
            <li class="menu-content">
                <a href="#" ui-sref="about" ui-sref-active="active" ng-click="navCollapsed=true">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<section class="content">
    <ui-view autoscroll="true"></ui-view>
</section>

<!--Begin Social footer-->
<footer class="footer container-fluid ng-cloak">
    <div class="row">
        <div class=" col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
            <ul class="list-inline social-footer row">
                <li class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
                    <a href="https://www.facebook.com/SimplySur-503686209706809/" class="col-xs-12" target="_blank">
                        <i class="fa fa-facebook col-xs-12" aria-hidden="true"></i></a>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
                    <a href="https://plus.google.com/112611800445681044311" class="col-xs-12" target="_blank">
                        <i class="fa fa-google-plus col-xs-12" aria-hidden="true"></i></a>
                </li>
                <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                    <div id="footer-vertical-line"></div>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
                    <a href="https://www.youtube.com/channel/UC9fH7ksyFTQNHV7tVsNLtOQ" class="col-xs-12" target="_blank">
                        <i class="fa fa-youtube col-xs-12" aria-hidden="true"></i></a>
                </li>
                <li class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
                    <a href="https://www.instagram.com/simplysurschool/" class="col-xs-12" target="_blank">
                        <i class="fa fa-instagram col-xs-12" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="">
                <div id="footer-horizontal-line"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer-copyright col-xs-12 col-sm-12 col-md-12 col-lg-12">
            &copy; Copyright 2017: Simply Sur
        </div>
    </div>
</footer>
<!--End Social footer-->

<script src="../../bower_components/angular/angular.min.js"
        th:src="@{/webjars/angular/1.6.1/angular.min.js}"></script>

<script src="../../bower_components/angular-animate/angular-animate.min.js"
        th:src="@{/webjars/angular-animate/1.6.1/angular-animate.min.js}"></script>

<script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"
        th:src="@{/webjars/angular-sanitize/1.6.1/angular-sanitize.min.js}"></script>

<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"
        th:src="@{/webjars/angular-bootstrap/2.5.0/ui-bootstrap-tpls.min.js}"></script>

<script src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"
        th:src="@{/webjars/angular-ui-router/0.4.2/release/angular-ui-router.min.js}"></script>


<script src="app.config.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/app.config.js}"></script>

<script src="services/image.service.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/services/image.service.js}"></script>

<script src="services/about-service.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/services/about-service.js}"></script>

<script src="home-page/home.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/home-page/home.controller.js}"></script>

<script src="gallery-page/gallery.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/gallery-page/gallery.controller.js}"></script>

<script src="thumbnail-directive/thumbnail.directive.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/thumbnail-directive/thumbnail.directive.controller.js}"></script>

<script src="thumbnail-directive/thumbnail.directive.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/thumbnail-directive/thumbnail.directive.js}"></script>

<script src="events-page/events.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/events-page/events.controller.js}"></script>

<script src="event-card-directive/event.card.directive.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/event-card-directive/event.card.directive.controller.js}"></script>

<script src="event-card-directive/event.card.directive.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/event-card-directive/event.card.directive.js}"></script>

<script src="about-page/about.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/about-page/about.controller.js}"></script>

<script src="classes-page/classes.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/classes-page/classes.controller.js}"></script>

<script src="portfolio-page/portfolio.controller.js"
        th:src="@{/webapp/SimplySurFrontEnd/src/app/portfolio-page/portfolio.controller.js}"></script>


</body>
</html>