<div class="container-fluid content-container">
    <section id="orange-header-section" class="row">
        <div class="orange-header col-xs-offset-5"><span>COME AND SEE US</span></div>
    </section>

    <section class="row well-lg section-event col-xs-12 col-sm-10 col-md-10 col-lg-10
                               col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

        <div>
            <span class="event-indicator">Future Events...</span>
        </div>

        <div ng-repeat="event in eventsCtrl.events">
            <event-card event="event"></event-card>
        </div>
    </section>

    <!--<section class="row well-lg section-event col-xs-12 col-sm-10 col-md-10 col-lg-10-->
                               <!--col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">-->
        <!--<div>-->
            <!--<span class="event-indicator">Past Events... </span>-->
        <!--</div>-->
        <!--<div ng-repeat="event in eventsCtrl.events">-->
            <!--<event-card event="event"></event-card>-->
        <!--</div>-->
    <!--</section>-->
</div>