<div class="container-fluid ng-cloak content-container">
    <section class="row">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in homeCtrl.slides track by slide.id" index="slide.id">
                <img class="carousel-home-page" ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <div class="bigtext-carousel-homePage-title">{{slide.text1}}</div>
                    <!--<span class="bigtext-homePage-description">{{slide.text2}}</span>-->
                </div>
            </div>
        </div>
    </section>

    <section class="row jumbotron-home-page">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12
                    col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
            <div class="bigtext-homePage-title col-lg-10 col-lg-offset-2">
                <span class="col-lg-11 col-lg-offset-1"> Simply Sur - Music school</span></div>

            <div class="bigtext-homePage-description col-lg-10 col-lg-offset-2">
                <span class="col-lg-12"> Nurture learning, Enrich knowledge and Unleash Creativity </span>
            </div>
        </div>
    </section>

    <section class="row third-section">
        <div class="third-section-content-holder col-xs-12 col-sm-6 col-md-6 col-lg-7
                            col-xs-offset-0 col-sm-offset-3 col-md-offset-4 col-lg-offset-3">
            <div class="third-section-header col-lg-7 col-lg-offset-2">
                <span class="bigtext-homePage-title col-lg-11 col-lg-offset-1"
                      style="color: #666666">What you can learn</span>
            </div>
        </div>

        <div class="features-container col-xs-10 col-xs-offset-1">

            <div class="features-container-inner col-xs-4">
                <div class="feature feature-hindustani">
                    <div class="bigtext-feature">
                        <span class="col-xs-3 col-xs-offset-3">Hindustani</span>
                    </div>
                </div>
            </div>

            <div class="features-container-inner col-xs-4">
                <div class="feature feature-karoake">
                    <div class="bigtext-feature">
                        <span class="col-xs-3 col-xs-offset-3">Karaoke</span>
                    </div>
                </div>
            </div>

            <div class="features-container-inner col-xs-4">
                <div class="feature feature-harmonium">
                    <div class="bigtext-feature">
                        <span class="col-xs-3 col-xs-offset-3">Harmonium</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>