<div class="container-fluid ng-cloak content-container">
    <section class="row">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in homeCtrl.slides track by slide.id" index="slide.id">
                <img class="carousel-home-page" ng-src="{{slide.image}}" ui-sref="events">
                <div class="carousel-caption">
                    <div class="bigtext-carousel-homePage-title">{{slide.text1}}</div>
                    <span class="bigtext-homePage-description">{{slide.text2}}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="row jumbotron-home-page">
        <div class="col-xs-12">
            <div class="bigtext-homePage-title col-xs-11">
                <span class="col-xs-11 "> Simply Sur - School of hindustani classical music</span></div>

            <div class="bigtext-homePage-description col-xs-11">
                <span class="col-xs-12"> Nurture learning, Enrich knowledge and Unleash Creativity </span>
            </div>
        </div>
    </section>

    <section class="row third-section">
        <div class="third-section-content-holder col-xs-12 col-sm-6 col-md-6 col-lg-7
                            col-xs-offset-0 col-sm-offset-3 col-md-offset-4 col-lg-offset-3">
            <div class="third-section-header col-xs-8 col-xs-offset-2">
                <span class="bigtext-homePage-title col-xs-11"
                      style="color: #666666">What you can learn</span>
            </div>
        </div>

        <div class="features-container col-xs-12 col-md-10 col-md-offset-1">

            <div class="features-container-inner col-xs-6 col-sm-6 col-md-4
            col-xs-offset-2 col-sm-offset-3 col-md-offset-0" ui-sref="classes">
                <div class="feature feature-hindustani">
                    <div class="bigtext-feature">
                        <span class="col-xs-12 col-md-3 col-md-offset-3">HINDUSTANI</span>
                    </div>
                </div>
            </div>

            <div class="features-container-inner col-xs-6 col-sm-6 col-md-4
            col-xs-offset-2 col-sm-offset-3 col-md-offset-0" ui-sref="classes">
                <div class="feature feature-karoake">
                    <div class="bigtext-feature">
                        <span class="col-xs-12 col-md-3 col-md-offset-3">KARAOKE</span>
                    </div>
                </div>
            </div>

            <div class="features-container-inner col-xs-6 col-sm-6 col-md-4
            col-xs-offset-2 col-sm-offset-3 col-md-offset-0" ui-sref="classes">
                <div class="feature feature-harmonium">
                    <div class="bigtext-feature">
                        <span class="col-xs-12 col-md-3 col-md-offset-3">HARMONIUM</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>